/target/loginJspJdbcServletProject/WEB-INF/lib/activation-1.1.jar
/target/classes/registerUniqueDev/utilities/BCrypt.class
/target/loginJspJdbcServletProject/WEB-INF/classes/registerUniqueDev/utilities/BCrypt.class
/target/classes/registerUniqueDev/utilities/ByCryptPasswordHashing.class
/target/loginJspJdbcServletProject/WEB-INF/classes/registerUniqueDev/utilities/ByCryptPasswordHashing.class
/target/classes/registerUniqueDev/forgotpassword/ChangePasswordServlet.class
/target/loginJspJdbcServletProject/WEB-INF/classes/registerUniqueDev/forgotpassword/ChangePasswordServlet.class
/target/loginJspJdbcServletProject/EnterOtp.jsp
/target/loginJspJdbcServletProject/forgotPassword.jsp
/target/classes/registerUniqueDev/forgotpassword/ForgotPasswordServlet.class
/target/loginJspJdbcServletProject/WEB-INF/classes/registerUniqueDev/forgotpassword/ForgotPasswordServlet.class
/target/loginJspJdbcServletProject/forgotPasword.jsp
/target/classes/registerUniqueDev/mailservice/JavaMailService$1.class
/target/loginJspJdbcServletProject/WEB-INF/classes/registerUniqueDev/mailservice/JavaMailService$1.class
/target/classes/registerUniqueDev/mailservice/JavaMailService.class
/target/loginJspJdbcServletProject/WEB-INF/classes/registerUniqueDev/mailservice/JavaMailService.class
/target/loginJspJdbcServletProject/WEB-INF/lib/javax.mail-1.5.5.jar
/target/loginJspJdbcServletProject/newPassword.jsp
/target/loginJspJdbcServletProject/retypePasswordPage.jsp
/target/classes/registerUniqueDev/forgotpassword/ValidateOtpServlet.class
/target/loginJspJdbcServletProject/WEB-INF/classes/registerUniqueDev/forgotpassword/ValidateOtpServlet.class
